ALLOW_DB_CREATION=true
CLIENT_SUBDOMAINS=,auth,app,admin,grafana,account
DEPLOYMENT_NAME=production
DOMAIN=example.com
MOCK_INTEGRATIONS=false
NODE_ENV=production
PROTOCOL=https
ADMIN_EMAILS=admin@example.com

SERVICE_SUBDOMAINS=identity,example,kratos
TRADEMARK="Example"
TZ=UTC

EXAMPLE_SERVICE_HTTP_HOST=example-monolith:3001

LOKI_HOSTNAME=loki
LOKI_PORT=3100